/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* variables */
:root{
    --main-color:#647bff;
    --body-color:#090a1a;
    --container-color:#171b3c;
    --heading-color:#222231;
    --box-color:#0d0f26;
    --bg-color:#fff;
}

body{
    color: var(--bg-color);
    background: var(--body-color);
}

html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--heading-color);
}


img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-active{
    background: var(--box-color);
    transition: 0.4s;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'roboto', sans-serif;
    box-shadow: 5px 5px 3px;
    color: var(--main-color);   
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link{
    font-size: 0.9;
    color: var(--bg-color);
    padding: 4px 8px;
    border-radius: 0.2rem;
}

.nav-link:hover{
    color: var(--main-color);
    background: var(--container-color);
    transition: 0.32s all linear;
}

.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.2s;
}

.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.move .line2{
    opacity: 0;  
}
.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

/* Dark-Mode Toggle  */
    #btn{
        background: var(--main-color);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        border: none;
        padding: 15px;
        cursor: pointer;
    }

    #btn .bx{
        width: 25px;
        /* margin-left: 10px; */
        color: white;
    }

    /* styles.css */
    body.theme1 {
        background-color: var(--box-color);
        color: var(--bg-color);
    }

    body.theme2 {
        background-color: #008080;
        color: var(--bg-color);
    }

    body.theme3 {
        background-color:#8b0000 ;
        color: var(--bg-color);
    }


    /* body.theme {
        background-color: #0000ff;
        color: white;
    } */

/* home */
.home{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem ;
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
}
.home-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}
.home-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #98a7fc;
    overflow: hidden;
    margin-bottom: 2rem;
}

.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

.home-text h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--main-color);
}

.home-text h3::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(-50%);
    width: 20px;
    height: 2px;
    background: var(--main-color);
}
.home-text h3::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translate(-50%);
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.home-text h2{
    font-size: 3rem;
    line-height: 4rem;
}

.home-text p{
    font-size: 1.05rem;
    margin-bottom: 1.6rem;
}



.home-text .color{
    color: var(--main-color);
}

.btn-1 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    margin: 1.1rem;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .btn-1:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .btn-1:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btn-1:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  .btn-1 a{
    color: var(--bg-color);
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 400;
  }

.social{
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
    margin-top: 10px;
}

.social .bx{
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);
}

.social .bx:hover{
    background: var(--main-color);
    transition: 0.3s all linear;
}

/* About */

.heading{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.about-data span{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-data h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

.about-data .btn{
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

.about-data .btn:hover{
    background: #546eff;
    transition: 0.3s all linear;
}

.about-data .btn .bx{
    font-size: 1.3rem;
}

.about-text p{
    font-size: 1.1rem;
    letter-spacing: 0.9px;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/* Services */
.services-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.services-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 14px;
    background: var(--container-color);
    border-radius: 0.4rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-box:hover{
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.services-box .bx{
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 10px;
    border-radius: 5rem;
    border: 2px dashed var(--bg-color);
}  

.services-box h2{
    font-style: 1.1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: var(--main-color);
}

.services-box p{
    font-size: 1rem;
}

/* Portfolio */

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;

}

.portfolio-box{
       position: relative;
       width: 100%;
       height: 320px;
       border: 1rem;
       overflow: hidden;

}

.portfolio-img{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(234, 45%, 16%,0.7);
}


.portfolio-overlay h2{
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.portfolio-overlay .bx{
    font-size: 24px;
    padding: 12px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 4px;
}
.portfolio-overlay .bx:hover{
    background: #546eff;
    transition: 0.3s all linear;
}

.portfolio-box:hover .portfolio-overlay{
    top: 0;
    transition: 0.5s all linear;
}

/* Project */
.project-content{
    display: grid;
    grid-template-columns: repeat(3,200px);
    gap: 1.5rem;
    justify-content: center;
}

.project-box{
    padding: 20px 10px;
    background: var(--box-color);
    border-radius: 0.4rem;
    text-align: center;
}

.project-box h2{
    font-size: 1.2rem;
}
.project-box span{
    font-size: 0.9rem;
}

/* Review */
.review-box{
    max-width: 550px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3.5rem !important;
}

.review-box .bx{
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.review-box .review-text{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.review-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-profile h2{
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: var(--main-color);
    font-weight: 600;
}

.review-profile span{
    font-size: 0.8rem;
    margin: 0.5rem;
}

.review-profile img{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    box-sizing: 10px 8px 0 var(--main-color);
    padding: 5px;
}

.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width: 1.1rem !important;
    background: var(--main-color) !important;
}

/* Contact Form */
.contact-form{
    max-width: 600;
    margin: auto;
    width:100%;
    display: grid;
    row-gap: 1rem;
}

.contact-form input, .contact-form textarea{
    border: none;
    outline: none;
    font-size: 0.9rem;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: 0.4rem;
    padding: 15px;
}

.contact-form .send-btn{
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    background: var(--main-color);
    cursor: pointer;
}

.contact-form .send-btn:hover{
    background: #546eff;
    transition: 0.3s all linear;
}


.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.1rem;
    padding: 25px;
}

.footer-link{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.footer-link a{
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
}

.footer-link a:hover{
    color: var(--main-color);
    transition: 0.3s all linear;
}

.footer p{
    font-size: 1rem;
}
/* Scroll Top */
.scroll-top{
    position: fixed;
    bottom: -100%;
    right: 1.5rem;
}

.scroll-top .bx{
    padding: 10px;
    font-size: 1.4rem;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: 0.2rem;
}

.scroll-top .bx:hover{
    background: var(--container-color);
    transition: 0.3s;
}

.scroll-active{
    bottom: 2rem;
    transition: 0.3rem;
}


/* Responsiveness */

@media(max-width:990px){
    .container{
        margin: 0 auto;
        width: 90%;
    }
}

@media(max-width:892px){
    section{
        padding: 2rem 0;
    }
    .nav{
        padding: 12px 0;
    }
    .heading{
        font-size: 4rem;
    }
    .portfolio-box{
        height: 257px;
    }
}

@media(max-width:775px){
    .nav{
        padding: 10px;
    }
    .logo{
        font-size: 1.1rem;
    }
    .home{
        min-height: 500px;
        padding-top: 6rem;
    }
    .home-text{
        font-size: 1rem;
    }
    .home-text h2{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .home-text p{
        font-style: 0.8rem;
    }
    .services-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 630px;
        width: 100%;
    }

    .services-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        max-width: 630px;
        width: 100%;
        flex-basis: 40%;
    }
    .portfolio-box {
        height: 245px;
    }
    .menu-icon{
        display: flex;

    }
    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: var(--box-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .open-menu{
        right: 0;
        transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1) ;

    }
    .nav-link{
        display: block;
        margin: 1rem 0;
    }

}

@media(max-width:635px){
    .logo{
        font-size: 1.9rem;
    }
    .home-text{
        width: 100%;
        max-width: 635px;
      font-size: 2rem;  
    }
    .home-text h2{
        margin-top: 1rem;
        font-size: 3.5rem;
        margin-bottom: 1.2rem;
    }
    .home-text p{
        font-size: 1rem;
        letter-spacing: 0.1rem;
        width: 400px;
        max-width: 630px;
        font-family: 'roboto',sans-serif;
    }

   .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    /* grid-template-columns: 1fr; */
   }
   .about-data span{
    font-size: 0.9rem;
   }

   .about-data h2{
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 600;
    margin: 0.8rem 0;
   }

   .services-content, .portfolio-content, .project-content{
    display: grid;
    grid-template-columns: 1fr;
   }

   .about-data p{
    font-size: 0.8rem;
    margin-bottom: 1.3rem;
   }
   
  
}

@media(max-width:450px){
    .home{
        min-height: 485px;
        padding-top: 5rem;
    }
    .home-img{
        width: 140px;
        height: 140px;
        object-fit: cover;
        object-position: center;
    }
    .home-img img{
        width: 140px;
        height: 140px;
    }
    .home-text{
        font-size: 2.1rem;
        line-height: 3.2rem;
    }

    .home-text p br{
        display: contents;
    }

    .heading{
        font-size: 3rem;
    }

    .services-content,.portfolio-content, .project-content{
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .footer-link> a{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 450px;
    }
        
}
@media(max-width:325px){
    .navbar{
        width: 100%;
    }
}




